<div class="container">
    <app-table [values]="users">
        <ng-template #header>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Address</th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template #body let-user>
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.address }}</td>
                    <td>
                        <p-button label="Edit" id="edit" (onClick)="EditUser(user)" severity="warning" outlined="true" icon="pi pi-user-edit"></p-button>
                        <p-button label="Delet" (onClick)="deleteUser(user.id)" id="delete" severity="danger" outlined="true" icon="pi pi-trash"></p-button>
                    </td>
                </tr>
          </ng-template>
          
    </app-table>
    <div class="another-actions">
        <p-button label="Add User" id="add" styleClass="addUser" (click)="AddUser()" outlined="ture" icon="pi pi-plus"></p-button>
    </div>
</div>

@if (showModal) {
    <app-modal (dismiss)="showModal = false">
        <div modalTitle>{{ headerTitle }}</div>
        <app-user-form [user]="userForm" (formSubmit)="submit($event)"></app-user-form>
    </app-modal>
}